[% PROCESS header.tt2 title="Messages" %]

[% IF threads.0.message.header("List-Id") %]
<div class="title">[% threads.0.message.header("List-Id") | html %]</div>
[% END %]

[% PROCESS pagenav.tt2 %]

<ul>
[% FOREACH root = threads %]
  <li class=thread><ul class=threads>
    [% INCLUDE thread.tt2 thread=root %]
  </ul></li>
[% END %]
</ul>
[% PROCESS pagenav.tt2 %]

<p>Generated at [% date.format %] by mariachi</p>

</body>
</html>
