[% INCLUDE header.tt2 title = message.subject.html %]

<h1>[% message.subject | html %]</h1>

<div class=headers>
<i>From:</i>[% message.from %]
[% FOREACH hdr = headers %]
<br><i>[% hdr %]:</i>[% message.header(hdr) | html %]
[% END %]
</div>

<pre>[% message.body | html %]</pre>

<div class=threads>
Thread:
[% PROCESS thread.tt2 %]
</div>

</body>
</html>